<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mansi Legends</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>

    <!-- Навигационная панель -->
    <nav>
        <div class="nav-container">
            <a href="#" class="site-title">Mansi Legends</a>
            <ul>
                <li><a href="#translator">Переводчик</a></li>
                <li><a href="#about">О сервисе</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div>
    </nav>

    <!-- Главная страница -->
    <header>
        <div class="hero">
            <br />
            <br />
            <h1>Переводчик мансийского языка</h1>
            <p>Удобный веб-сервис для перевода с мансийского на русский и обратно</p>
            <br />
            <br />
            <a href="#translator" class="translate-button">Перевести</a>
        </div>
    </header>

    <!-- Блок с переводчиком -->
        <section id="translator">
        <br />
        <br />
        <br />
        <div class="translator-text">
            <h1>Введите текст и выберите направление перевода</h1>
        </div>
        <br />
        <br />
        <div class="translator-block">
            <div class="lang-options">
                <span class="lang-options-lng" id="rustxt">Русский</span>
                <a class="changelangimg" id="changeLang"><img src="static/images/ChangeTranslator.png" width="36" height="25"
                        alt="Сменить язык"></a>
                <span class="lang-options-lng" id="mansitxt">Мансийский</span>
            </div>
            <br />
            <div class="container">
                <div class="input-section">
                    <div class="symbols">
                        <span>ē</span>
                        <span>ё̄</span>
                        <span>ӣ</span>
                        <span>ӈ</span>
                        <span>о̄</span>
                        <span>ӯ</span>
                        <span>ы̄</span>
                        <span>э̄</span>
                        <span>ю̄</span>
                        <span>я̄</span>
                    </div>
                    <textarea id="textInput" placeholder="Введите текст для перевода..." maxlength="5000"></textarea>
                    <span class="char-counter" id="charCount">0 / 5000</span>
                </div>
                <div class="input-section">
                    <textarea id="translated-text" readonly></textarea>
                </div>
            </div>
            <br />
            <br />
            <br />
            <button class="translate-button" id="translate-button">Перевести</button>
            <br />
            <div class="translator-text2">
                <p>Переводите тексты с мансийского на русский и наоборот</p>
            </div>
            <br />
            <br />
            <br />
            <br />
    </section>

    <!-- Блок "О сервисе" -->
    <section id="about" class="about-block">
        <div class="about-text-header">
            <h2>О сервисе</h2>
        </div>
        <div class="about-text-postheader">
            <p>Переводите тексты с мансийского на русский и с русского на мансийский</p>
        </div>
        <ul>
            <h2>Перевод текстов с мансийского на русский для личных и профессиональных нужд</h2>
            <h2>Помощь в изучении мансийского языка: перевод текстов, содержащих грамматику и лексику</h2>
            <h2>Поддержка в переводе личных писем, статей и других материалов</h2>
        </ul>
        <br />
        <br />
    </section>

<!-- Блок "Контактные данные" -->
    <section id="contacts" class="contacts-block">
        <div class="contacts-text">
            <h2>Контактные данные</h2>
            <p>+79043414842</p>
            <p>vadim-panenko2002@mail.ru</p>
        </div>
        <ul class="social-icons">
            <li><a href="https://www.linkedin.com/in/maxim-svistunov-0388b0227?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                    target="_blank"><img src="static/images/LinkedinIcon.png" width="77" height="80" alt="LinkedIn"></a></li>
            <li><a href="https://t.me/VadimPanenko" target="_blank"><img src="static/images/TelegramIcon.png" width="77" height="80"
                        alt="Telegram"></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=79043414842" target="_blank"><img src="WhatsappIcon.png"
                        width="77" height="80" alt="WhatsApp"></a></li>
        </ul>
    </section>


    <!-- Блок "last" -->
    <section id="last" class="last-block">
    </section>

    <script>
        const textInput = document.getElementById('textInput');
        const symbols = document.querySelectorAll('.symbols span');

        symbols.forEach(symbol => {
            symbol.addEventListener('click', function () {
                // Вставляем символ в текущее положение курсора
                const start = textInput.selectionStart;
                const end = textInput.selectionEnd;
                const value = textInput.value;

                // Обновляем значение текстового поля
                textInput.value = value.substring(0, start) + this.textContent + value.substring(end);

                // Перемещаем курсор после вставленного символа
                textInput.selectionStart = textInput.selectionEnd = start + this.textContent.length;

                // Фокусируемся на текстовом поле
                textInput.focus();
            });
        });
            
    document.getElementById('translate-button').addEventListener('click', async () => {
        const textInputValue = document.getElementById('textInput').value;

        // Отправка POST-запроса на сервер с текстом для перевода
        const response = await fetch('/process', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ text: textInputValue })  // Отправляем полный текст
        });

        const result = await response.json();
        document.getElementById('translated-text').value = result.output;  // Выводим результат в текстовое поле
    });

    </script>

    <script src="static/js/app.js"></script>
</body>

</html>